body{
    background: black;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
  }
.Meme{
    width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.Meme-img{
    border: 5px solid white;
    width: 100%;
}



